@inherits LayoutComponentBase

@inject AppState App

<div>
    <CascadingValue Value="@App">
        <Toast />
        <Progress></Progress>
        <Confirmation />
        <DeleteConfirmation />
        <Settings />

        <NavBar />
        @Body
    </CascadingValue>
</div>


@code
{
    protected override async Task OnInitializedAsync() => await App.InitializeCurrentUserAsync();
}