@inherits LayoutComponentBase

@inject AppState App

<div>
    <CascadingValue Value="@App">
        <_Toast />
        <Progress></Progress>
        <Confirmation />
        <DeleteConfirmation />
        <Settings OnChangeContent="App.OnChangeContent" />

        <NavBar OnChangeContent="App.OnChangeContent" />
        @Body
    </CascadingValue>
</div>