@inherits LayoutComponentBase

@inject AppState App

<div class="page background" style="background-image: url('@(BgImageUrl)')">
    @* <div class="page"> *@
    <CascadingValue Value="@App">
        <_Toast />
        <Progress></Progress>
        <Confirmation />
        <DeleteConfirmation />
        <Settings OnChangeContent="App.OnChangeContent" ActiveBackground="Bg" OnChangeBg="ChangeBg"/>

        @if (SidebarShow)
        {
            <div class="sidebar">
                <NavMenu />
                @* <Sidebar /> *@
            </div>
        }

        <main>
            <Toprow SidebarShow="SidebarShow" OnToggleSidebar="ToggleSidebar" OnChangeContent="App.OnChangeContent" />

            @Body
        </main>
    </CascadingValue>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.<a href="" class="reload">Reload</a><span class="dismiss">🗙</span>
</div>


@code
{
    bool SidebarShow = true;

    void ToggleSidebar() => SidebarShow = !SidebarShow;


    protected override async Task OnInitializedAsync() => await App.InitializeCurrentUserAsync();


    Background Bg = new Background("Simple Gray", "img/bg/9.Simple Gray.jpg");
    string BgImageUrl => Bg.ImageUrl;

    void ChangeBg(Background input) => Bg = input;
}