@inherits LayoutComponentBase
@inject AppState App

<div class="page">
    <CascadingValue Value="@App">
        <Toast />
        <Progress></Progress>
        <Confirmation />
        <DeleteConfirmation />
        <Settings OnChangeContent="App.OnChangeContent" />

        @if (SidebarShow)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        }

        <main>
            <Toprow SidebarShow="SidebarShow" OnToggleSidebar="ToggleSidebar" OnChangeContent="App.OnChangeContent" />

            @Body
        </main>
    </CascadingValue>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.<a href="" class="reload">Reload</a><span class="dismiss">🗙</span>
</div>


@code
{
    bool SidebarShow = true;

    void ToggleSidebar() => SidebarShow = !SidebarShow;


    protected override async Task OnInitializedAsync() => await App.InitializeCurrentUserAsync();
}