@inherits LayoutComponentBase

@inject AppState App


@* <div class="page" data-bs-theme="@(ThemeDark ? "dark" : "light")" style="background-image: url('/img/bg/9.Simple Gray.jpg')"> *@
<div class="page" data-bs-theme="@(ThemeDark ? "dark" : "light")" style="background-color: @(ThemeDark ? "#313641" : "white")">

	<CascadingValue Value="@App">
		@if (SidebarShow)
		{
			<div class="sidebar">
				<NavMenu />
			</div>
		}


		<main>
			<Toprow SidebarShow="SidebarShow" OnToggleSidebar="ToggleSidebar"
					OnChangeContent="App.OnChangeContent"
					ThemeDark="ThemeDark" OnToggleThemeDark="ToggleThemeDark" />

			@Body
		</main>
	</CascadingValue>
</div>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>




@code
{
	bool SidebarShow = true;
	bool ThemeDark = true;


	void ToggleSidebar() => SidebarShow = !SidebarShow;
	void ToggleThemeDark() => ThemeDark = !ThemeDark;



	

	protected override async Task OnInitializedAsync()
	{
		await App.InitializeCurrentUserAsync();
	}
}