.open-settings {
    color: white;
    position: fixed;
    top: 96px;
    right: 10px;
    z-index: 1150;
    transition: right 0.3s ease-in-out;
}

    .open-settings:hover {
        animation: spinner 2s infinite linear;
    }

.svg-icon {
    width: 30px;
    height: 30px;
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.8));
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

body:has(.offcanvas.show) .open-settings {
    right: 365px;
}

.offcanvas {
    width: 350px;
    z-index: 1150;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    transition: transform 0.3s ease-in-out;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid white;
    background-color: rgba(0, 0, 0, 0.2);
}

.offcanvas-body p {
    text-align: start;
    margin-left: 0.5rem;
}

.content .icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 1rem;
    gap: 1rem;
}

.content i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: var(--bs-border-radius);
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 1px rgba(var(--bs-black-rgb), 0.4);
}

.items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--bs-border-radius);
    /*background-color: rgba(0, 0, 0, 0.2);*/
}

    .items a {
        position: relative;
    }

a img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 4rem;
    border-radius: var(--bs-border-radius);
    box-shadow: 2px 2px 2px rgba(var(--bs-black-rgb), 0.4);
}

.item {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1.5rem;
    font-size: 2.5em;
}





@keyframes spinner {
    100% {
        transform: rotate(1turn);
    }
}
