.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    /*background-color: var(--cf-theme-850);*/
    /*background-color: rgba(var(--bs-black-rgb), 0.2);*/
    /*border-bottom: 1px solid #d6d5d5;*/
}

.logout-button {
    /*color: grey;*/ /* Inicijalna boja teksta */
    background-color: transparent; /* Bez pozadinske boje */
    border: none; /* Bez okvira */
    transition: color 0.3s ease; /* Animacija promene boje */
}

    .logout-button:hover {
        color: whitesmoke; /* Boja teksta na hover */
    }


/* START - Code Foundry */
.navStyle {
    background-color: rgb(from var(--cf-theme-900) r g b / 0.4);
    /*background-color: var(--cf-theme-850);*/ /* Applies a theme-specific background color */
    /* Ovo kaže: "Pomiješaj moju boju s prozirnom, tako da moje boje ostane 50%" */
    /*background-color: color-mix(in srgb, var(--cf-theme-850), transparent 50%);*/
}

.nav-item {
    --bs-navbar-hover-color: var(--cf-theme-400); /* Sets hover color for navbar items */
    --bs-nav-link-hover-color: var(--cf-theme-400); /* Sets hover color for nav links */
}

.dropdown-menu {
    background-color: var(--cf-theme-900); /* Sets a custom background color for the dropdown menu */
}

.dropdown:has(.nav-link.active) .dropdown-toggle {
    color: var(--bs-navbar-active-color); /* Changes color of dropdown toggle when an item is active */
}
/* END - Code Foundry */




@media (min-width: 641px) {
    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
