<div class="top-row navStyle">

	<div class="px-3 d-flex justify-content-center align-content-center">
		<i class="bi @(SidebarShow ? "bi-chevron-left" : "bi-list")" @onclick="OnToggleSidebar"></i>
	</div>



	<div class="px-3 d-flex justify-content-center align-content-center gap-2">
		<i class="bi @(App!.IsExpanded ? "bi bi-distribute-horizontal" : "bi bi-distribute-vertical")" @onclick="OnChangeContent"></i>
		<i class="bi @(ThemeDark ? "bi bi-lightbulb-fill" : "bi bi-lightbulb-off-fill")" @onclick="OnToggleThemeDark"></i>
        <a href="themes"><i class="bi bi-palette"></i></a>

		
		<div class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">@Language</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="" @onclick="SetCroatian">Croatian</a></li>
				<li><a class="dropdown-item" href="" @onclick="SetEnglish">English</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</div>
		
		@* <_LanguageSwitcher /> *@
		
		
		<AuthorizeView>
			<Authorized>
				<div class="nav-item px-3 d-flex justify-content-center align-content-center">
					@* @if (App?.CurrentUser is not null)
                {
                    <h7>Hi @App?.CurrentUser?.FirstName</h7>
                } *@
					<form action="Account/Logout" method="post">
						<AntiforgeryToken />
						<input type="hidden" name="ReturnUrl" value="#" />
						<button type="submit" class="nav-link">
							<span class="ms-2 bi bi-arrow-bar-left" aria-hidden="true"></span> Logout
						</button>
					</form>
				</div>
			</Authorized>
		</AuthorizeView>
		
		
	</div>

	@* <a href="#" target="_blank">About</a> *@
</div>



@code {
	[CascadingParameter] AppState? App { get; set; }

	[Parameter] public bool SidebarShow { get; set; }

	[Parameter] public EventCallback OnToggleSidebar { get; set; }


	[Parameter] public EventCallback OnChangeContent { get; set; }


	[Parameter] public bool ThemeDark { get; set; }

	[Parameter] public EventCallback OnToggleThemeDark { get; set; }

	string Language = "Croatian";



	void SetCroatian()
	{
		Language = "Croatian";
		ChangeCulture("hr-HR");
		StateHasChanged();
	}

	void SetEnglish()
	{
		Language = "English";
		ChangeCulture("en-US");
		StateHasChanged();
	}



	void ChangeCulture(string culture)
	{
		// Response.Cookies.Append(
		// 	CookieRequestCultureProvider.DefaultCookieName,
		// 	CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(culture)),
		// 	new CookieOptions { Expires = DateTimeOffset.UtcNow.AddYears(1) }
		// );
	}
}