.custom-card {
    background-color: rgba(var(--bs-black-rgb), 0.1);
    transition: transform 0.2s ease-in-out;
}

    .custom-card:hover {
        transform: translateY(-2px);
    }

    .custom-card img {
        transition: transform 0.2s ease-in-out;
    }

    .custom-card:hover img {
        transform: scale(1.05);
    }