@page "/admin/movies1"
@attribute [Authorize(Roles = "Admin")]

@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@* @inject ApplicationDbContext Context *@
@inject MovieService MovieService
@inject ITmdbService TmdbService

<title>@Title</title>

<_PageHeader Title="@Title" />

<!-- Scan - Populate - Search -->
@if (Entity is null)
{
    <div class="mt-4 p-2 @App?.GetContentClass()">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <button type="button" class="btn btn-primary rounded-pill btn-sm" @onclick="ScanAsync">Scan</button>
                @if (Movies is not null && Movies.Any())
                {
                    <button type="button" class="ms-2 btn btn-primary rounded-pill btn-sm" @onclick="AddAllToDbAsync">Add To db</button>
                }
                @if (Entities is not null && Entities.Any())
                {
                    <button type="button" class="ms-2 btn btn-primary rounded-pill btn-sm" @onclick="PopulateFromTmdb">Populate From Tmdb</button>
                }
            </div>

            <div class="col-12 col-md-6">
                <EditForm Enhance Model=@SearchTmdb OnValidSubmit=@HandleValidSubmit>
                    <div class="input-group">
                        <InputText class="form-control" @bind-Value="SearchTmdb" placeholder=" search tmdb.." required />
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

<!-- Form -->
@if (Entity is not null)
{
    <_Form Entity="Entity" OnBack="() => Entity = null" />
}

<!-- Table -->
@if (IsProcessing)
{
    <_Loading Title="Please Scan to populate the database!"
              Subtitle="@($"Scaning Folder: {ScanPath}")"
              ButtonText="Scan" OnClick="ScanAsync" />
}
else
{
    @if (TmdbSearch is null && TmdbDetails is null && Entity is null)
    {
        <div class="mt-3 @App?.GetContentClass()">
            @if (Movies is not null && Movies.Any())
            {
                <_Table Entities="Movies.Select(s => s.ToMovieEntity()).AsQueryable()"
                        EntityName="Scan"
                        OnTmdbSearch="HandleSearch"
                        OnAddToDb="AddToDbAsync" />
            }
            @if (Entities is not null)
            {
                <_Table Entities="Entities"
                        EntityName="@Title"
                        OnTmdbSearch="HandleSearch"
                        OnEdit="AddEdit"
                        OnPopulate="PopulateFromTmdbById"
                        OnDelete="RefreshEntities" />
            }
        </div>
    }
}

<!-- SearchCard -->
@if (TmdbSearch is not null)
{
    <div class="mt-5 @App?.GetContentClass()">
        <div class="m-3 d-flex justify-content-start align-items-center" style="cursor: pointer;" @onclick="() => TmdbSearch = null">
            <button type="button" class="btn-close me-2"></button>Close Search
        </div>

        @foreach (var movie in TmdbSearch.Results)
        {
            <_SearchCard Entity="movie" />
        }
    </div>
}

<!-- DetailsCard -->
@if (TmdbDetails is not null)
{
    <div class="mt-5 @App?.GetContentClass()">
        <div class="m-3 d-flex justify-content-start align-items-center" style="cursor: pointer;" @onclick="() => TmdbDetails = null">
            <button type="button" class="btn-close me-2"></button>Close Details
        </div>
        <_DetailsCard Entity="TmdbDetails" />
    </div>
}



@code {
    [CascadingParameter] AppState? App { get; set; }

    List<ScanMovieModel>? Movies;
    // IQueryable<Movie>? Entities;
    Movie? Entity;
    string? Search;

    const string Title = "MoviesOne";
    bool IsProcessing { get; set; } = true;

    string SearchTmdb = string.Empty;
    TmdbSearchList? TmdbSearch;
    TmdbDetails? TmdbDetails;

    string ScanPath => Globals.X265Path;




    #region START
    public record ServiceResponseQgPagination<T>(string Message, List<T>? Data, QgPaginationDto? Pagination);
    public record QgPaginationDto(int TotalRecords, int Page, int PageSize, string? SortBy = null, bool SortDescending = false);
    ServiceResponseQgPagination<Movie>? Entities;

    PaginationState PaginationState = new() { ItemsPerPage = 15 };

    


    protected override async Task OnInitializedAsync() => await LoadEntitiesAsync();

    async Task LoadEntitiesAsync()
    {
        Entities = await GetPaginatedAsync(1, 15, null, false);
        IsProcessing = false;
        StateHasChanged();
    }

    async Task<ServiceResponseQgPagination<Movie>> GetPaginatedAsync(int page = 1, int pageSize = 15, string? sortBy = null, bool sortDescending = false)
    {
        await using var db = await ContextFactory.CreateDbContextAsync();

        var query = db.Movies.AsQueryable();
        var totalRecords = await query.CountAsync();

        if (totalRecords == 0) return new ServiceResponseQgPagination<Movie>("Coupons Not Found!", null, new QgPaginationDto(0, page, pageSize, sortBy, sortDescending));

        if (!string.IsNullOrWhiteSpace(sortBy))
        {
            // Dinamičko sortiranje preko EF.Property
            query = sortDescending ? query.OrderByDescending(x => EF.Property<object>(x, sortBy)) : query.OrderBy(x => EF.Property<object>(x, sortBy));
        }
        else
        {
            // Zadano sortiranje prema CreatedUtc
            query = query.OrderByDescending(x => x.CreatedUtc);
        }

        var entities = await query.Skip((page - 1) * pageSize).Take(pageSize).ToListAsync();

        return new ServiceResponseQgPagination<Movie>("OK", entities, new QgPaginationDto(totalRecords, page, pageSize, sortBy, sortDescending));
    }

    async ValueTask<GridItemsProviderResult<Movie>> LoadCoupons(GridItemsProviderRequest<Movie> request)
    {
        int page = (request.StartIndex / PaginationState.ItemsPerPage) + 1;

        // For Sort
        var sortBy = request.GetSortByProperties().FirstOrDefault();
        var response = await GetPaginatedAsync(page, PaginationState.ItemsPerPage, sortBy.PropertyName, sortBy.Direction == SortDirection.Descending);

        // No Sort
        // var response = await Repository.GetPaginatedAsync(page, PaginationState.ItemsPerPage);
        if (response.Pagination == null || response.Data == null) return GridItemsProviderResult.From(new List<Movie>(), 0);

        return GridItemsProviderResult.From(response.Data, response.Pagination.TotalRecords);
    }
    #endregion




    // protected override void OnInitialized() => RefreshEntities();

    // void RefreshEntities()
    // {
    //     Entities = Context.Movies.AsNoTracking().OrderByDescending(x => x.FileCreatedUtc).AsQueryable();
    //     if (!Entities.Any())
    //     {
    //         App!.ShowToast($"{Title} Not Found!", "error");
    //         Entities = null;
    //         return;
    //     }

    //     IsProcessing = false;
    // }

    async Task HandleValidSubmit()
    {
        ArgumentNullException.ThrowIfNull(SearchTmdb);

        TmdbSearch = await TmdbService.SearchMoviesAsync(SearchTmdb);
        SearchTmdb = string.Empty;
        StateHasChanged();
    }

    async Task HandleSearch((int? tmdbId, string search, int? year) data)
    {
        if (data.tmdbId.HasValue) TmdbDetails = await TmdbService.GetMovieByIdAsync(data.tmdbId.Value);
        else TmdbSearch = await TmdbService.SearchMoviesAsync(data.search, data.year.ToString());

        SearchTmdb = string.Empty;
        StateHasChanged();
    }

    async Task AddEdit(Movie? input)
    {
        Entity = input;
        await Task.CompletedTask;
    }

    async Task ScanAsync()
    {
        await App!.ShowToast($"Scanning for new movies...", "info");
        long scanDuration = 0;
        var sw = System.Diagnostics.Stopwatch.StartNew();

        // 1. Dohvati postojeće nazive iz baze (samo stringovi, brzo)
        HashSet<string> existingFileNames;
        await using (var context = await ContextFactory.CreateDbContextAsync())
        {
            existingFileNames = await context.Movies.AsNoTracking().Select(m => m.FileName).ToHashSetAsync(StringComparer.OrdinalIgnoreCase);
        }

        // 2. Pozovi optimizirani Servis -> parsirati će SAMO one fajlove koji nisu u ovom HashSetu
        Movies = await MovieService.GetNewMoviesOnlyAsync(ScanPath, existingFileNames);

        sw.Stop();
        scanDuration = sw.ElapsedMilliseconds;

        if (Movies.Count > 0) await App!.ShowToast($"Found: {Movies.Count} new movies in {scanDuration}ms!", "success");
        else await App!.ShowToast($"No new movies found. (Check took {scanDuration}ms)", "info");

        IsProcessing = false;
    }

    async Task AddAllToDbAsync()
    {
        if (Movies is null || Movies.Count == 0)
        {
            await App!.ShowToast($"No New {Title}!", "info");
            return;
        }

        await using var context = await ContextFactory.CreateDbContextAsync();
        foreach (var newMovie in Movies)
        {
            var movie = newMovie.ToMovieEntity();
            await context.Movies.AddAsync(movie);
        }

        await context.SaveChangesAsync();
        await App!.ShowToast($"{Movies.Count} {Title} added to database!", "success");
        Movies = null;
        RefreshEntities();
    }

    async Task AddToDbAsync(Movie input)
    {
        try
        {
            await using var context = await ContextFactory.CreateDbContextAsync();
            context.Movies.Add(input);
            await context.SaveChangesAsync();
            await App!.ShowToast($"{input.Title} added to database!", "success");

            var movieToRemove = Movies?.FirstOrDefault(m => m.FileName == input.FileName);
            if (movieToRemove is not null) Movies?.Remove(movieToRemove);

            // StateHasChanged();
            // Ako želiš baš forsirati reset query-a (nije nužno ako je samo refresh):
            RefreshEntities();
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Failed to add {input.Title} to database: {ex.Message}", "error");
        }
    }

    async Task PopulateFromTmdb()
    {
        await App!.ShowToast($"Start Populate From Tmdb!", "info");
        await MovieService.PopulateFromTmdbAsync();
        RefreshEntities();
        await App!.ShowToast($"Finish and Add Details in Database!", "success");
    }

    async Task PopulateFromTmdbById(Guid id)
    {
        var result = await MovieService.PopulateFromTmdbByIdAsync(id);
        if (result.Success)
        {
            await App!.ShowToast($"{result.Message}", "success");
            RefreshEntities();
        }
        else await App!.ShowToast($"{result.Message}", "error");
    }
}
