@page "/admin/movies"
@attribute [Authorize(Roles = "Admin")]

@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@inject MovieService MovieService
@inject ITmdbService TmdbService

<title>@Title</title>

<_PageHeader Title="@Title" />

<!-- Scan - Add to Db - Populate - Search -->
@if (Entity is null)
{
    <div class="mt-4 p-2 @App?.GetContentClass()">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="d-inline-flex align-items-center gap-2">
                    <_Button OnClick="ScanAsync" IsWorking="IsScanWorking" Name="Scan" />
                    @if (Movies is not null && Movies.Any())
                    {
                        <_Button OnClick="AddAllToDbAsync" IsWorking="IsAddToDbWorking" Name="Add To db" />
                    }
                    @if (MoviesNeedPopulate)
                    {
                        <_Button OnClick="PopulateFromTmdb" IsWorking="IsPopulateWorking" Name="Populate From Tmdb" />
                    }
                </div>
            </div>
            <div class="col-12 col-md-6">
                <EditForm Enhance Model=@SearchTmdb OnValidSubmit=@HandleSearchTmdb>
                    <div class="input-group">
                        <InputText class="form-control" @bind-Value="SearchTmdb" placeholder=" search tmdb.." required />
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

<!-- Form -->
@if (Entity is not null)
{
    <_Form Entity="Entity" OnBack="() => Entity = null" />
}

<!-- Table -->
@if (IsProcessing)
{
    <_Loading Title="Please Scan to populate the database!"
              Subtitle="@($"Scanning Folder: {ScanPath}")"
              ButtonText="Scan" OnClick="ScanAsync" />
}
else
{
    @if (TmdbSearch is null && TmdbDetails is null && Entity is null)
    {
        <div class="mt-3 @App?.GetContentClass()">
            @if (Movies is not null && Movies.Any())
            {
                <_Table @ref="ScanTable"
                        DataProvider="ScanProvider"
                        EntityName="Scan"
                        OnTmdbSearch="HandleSearchTmdbFromTable"
                        OnAddToDb="AddToDbAsync" />
            }
            @if (MoviesHaveData)
            {
                <_Table @ref="DbTable"
                        DataProvider="DbProvider"
                        EntityName="@Title"
                        OnTmdbSearch="HandleSearchTmdbFromTable"
                        OnEdit="AddEdit"
                        OnPopulate="PopulateFromTmdbById" />
            }
        </div>
    }
}

<!-- SearchCard -->
@if (TmdbSearch is not null)
{
    <div class="mt-5 @App?.GetContentClass()">
        <div class="m-3 d-flex justify-content-start align-items-center" style="cursor: pointer;" @onclick="() => TmdbSearch = null">
            <button type="button" class="btn-close me-2"></button>Close Search
        </div>

        @foreach (var movie in TmdbSearch.Results)
        {
            <_SearchCard Entity="movie" />
        }
    </div>
}

<!-- DetailsCard -->
@if (TmdbDetails is not null)
{
    <div class="mt-5 @App?.GetContentClass()">
        <div class="m-3 d-flex justify-content-start align-items-center" style="cursor: pointer;" @onclick="() => TmdbDetails = null">
            <button type="button" class="btn-close me-2"></button>Close Details
        </div>
        <_DetailsCard Entity="TmdbDetails" />
    </div>
}



@code {
    [CascadingParameter] AppState? App { get; set; }
    readonly Stopwatch Stopwatch = new();

    // References to tables
    _Table? ScanTable;
    _Table? DbTable;

    List<ScanMovieModel>? Movies;
    Movie? Entity;

    const string Title = "Movies";
    bool MoviesHaveData, MoviesNeedPopulate, IsScanWorking, IsAddToDbWorking, IsPopulateWorking = false;
    bool IsProcessing = true;

    string SearchTmdb = string.Empty;
    TmdbSearchList? TmdbSearch;
    TmdbDetails? TmdbDetails;

    string ScanPath => Globals.X265Path;


    protected override async Task OnInitializedAsync()
    {
        await using var db = await ContextFactory.CreateDbContextAsync();
        MoviesHaveData = await db.Movies.AsNoTracking().AnyAsync();
        MoviesNeedPopulate = await db.Movies.AsNoTracking().Where(x => !x.IsMetadataFetched).AnyAsync();
        IsProcessing = false;
    }

    #region Scan and Db Provider
    GridItemsProvider<Movie> ScanProvider => async req =>
    {
        if (Movies == null) return GridItemsProviderResult.From(new List<Movie>(), 0);

        return await MovieService.GetScannedMoviesForGrid(Movies, req, ScanTable?.SearchTerm ?? string.Empty);
    };

    GridItemsProvider<Movie> DbProvider => async req => await MovieService.GetMoviesForGridAsync(req, DbTable?.SearchTerm ?? string.Empty);
    #endregion

    async Task HandleSearchTmdb()
    {
        ArgumentNullException.ThrowIfNull(SearchTmdb);
        TmdbSearch = await TmdbService.SearchMoviesAsync(SearchTmdb);
        SearchTmdb = string.Empty;
        StateHasChanged();
    }

    async Task HandleSearchTmdbFromTable((int? tmdbId, string search, int? year) data)
    {
        if (data.tmdbId.HasValue) TmdbDetails = await TmdbService.GetMovieByIdAsync(data.tmdbId.Value);
        else TmdbSearch = await TmdbService.SearchMoviesAsync(data.search, data.year.ToString());
        SearchTmdb = string.Empty;
        StateHasChanged();
    }

    async Task AddEdit(Movie? input)
    {
        Entity = input;
        await Task.CompletedTask;
    }

    async Task ScanAsync()
    {
        StartTimer(ref IsScanWorking);
        HashSet<string> existingFileNames;
        await using (var context = await ContextFactory.CreateDbContextAsync())
        {
            existingFileNames = await context.Movies.AsNoTracking().Select(m => m.FileName).ToHashSetAsync(StringComparer.OrdinalIgnoreCase);
        }

        Movies = await MovieService.GetNewMoviesOnlyAsync(ScanPath, existingFileNames);
        var duration = StopTimer(ref IsScanWorking);
        if (Movies.Count > 0) await App!.ShowNotify($"Found: {Movies.Count} new movies!", "success", $"Check took {duration}");
        else await App!.ShowNotify($"No new movies found!", "info", $"Check took {duration}");
    }

    async Task AddAllToDbAsync()
    {
        if (Movies is not null || Movies?.Count > 0)
        {
            StartTimer(ref IsAddToDbWorking);
            await using var context = await ContextFactory.CreateDbContextAsync();
            foreach (var movie in Movies.Select(newMovie => newMovie.ToMovieEntity()))
            {
                await context.Movies.AddAsync(movie);
            }

            await context.SaveChangesAsync();
            var duration = StopTimer(ref IsAddToDbWorking);
            await App!.ShowNotify($"{Movies.Count} {Title} added to database!", "success", $"Adding took {duration}");
            Movies = null;
        }
        else await App!.ShowToast($"No New {Title}!", "info");
    }

    async Task AddToDbAsync(Movie input)
    {
        try
        {
            await using var context = await ContextFactory.CreateDbContextAsync();
            context.Movies.Add(input);
            await context.SaveChangesAsync();
            await App!.ShowToast($"{input.Title} added to database!", "success");

            var movieToRemove = Movies?.FirstOrDefault(m => m.FileName == input.FileName);
            if (movieToRemove is not null) Movies?.Remove(movieToRemove);
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Failed to add {input.Title} to database: {ex.Message}", "error");
        }
    }

    async Task PopulateFromTmdb()
    {
        StartTimer(ref IsPopulateWorking);
        var result = await MovieService.PopulateFromTmdbAsync();
        var duration = StopTimer(ref IsPopulateWorking);
        if (result.Success) await App!.ShowNotify($"{result.Message}", "success", $"Populate took {duration}");
        else await App!.ShowNotify($"{result.Message}", "error", $"Populate took {duration}");
    }

    async Task PopulateFromTmdbById(Guid id)
    {
        var result = await MovieService.PopulateFromTmdbByIdAsync(id);
        if (result.Success) await App!.ShowToast($"{result.Message}", "success");
        else await App!.ShowToast($"{result.Message}", "error");
    }
    
    void StartTimer(ref bool workingFlag)
    {
        workingFlag = true;
        Stopwatch.Restart();
    }

    string StopTimer(ref bool workingFlag)
    {
        Stopwatch.Stop();
        workingFlag = false;
        var ms = Stopwatch.ElapsedMilliseconds;
        return ms > 1000 ? $"{ms / 1000.0:F2} s" : $"{ms} ms";
    }
}