@page "/admin/movies"
@attribute [Authorize(Roles = "Admin")]

@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@inject MovieService MovieService
@inject ITmdbService TmdbService

<title>@Title</title>

<_PageHeader Title="@Title" />

<!-- Scan - Add to Db - Populate - Search -->
@if (Entity is null)
{
    <div class="mt-4 p-2 @App?.GetContentClass()">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="d-inline-flex align-items-center gap-2">
                    <_Button OnClick="ScanAsync" IsWorking="IsScanWorking" Name="Scan" />
                    @if (Movies is not null && Movies.Any())
                    {
                        <_Button OnClick="AddAllToDbAsync" IsWorking="IsAddToDbWorking" Name="Add To db" />
                    }
                    @if (HasData)
                    {
                        <_Button OnClick="PopulateFromTmdb" IsWorking="IsPopulateWorking" Name="Populate From Tmdb" />
                    }
                </div>
            </div>

            <div class="col-12 col-md-6">
                <EditForm Enhance Model=@SearchTmdb OnValidSubmit=@HandleSearchTmdb>
                    <div class="input-group">
                        <InputText class="form-control" @bind-Value="SearchTmdb" placeholder=" search tmdb.." required />
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

<!-- Form -->
@if (Entity is not null)
{
    <_Form Entity="Entity" OnBack="() => Entity = null" />
}

<!-- Table -->
@if (IsProcessing)
{
    <_Loading Title="Please Scan to populate the database!"
              Subtitle="@($"Scanning Folder: {ScanPath}")"
              ButtonText="Scan" OnClick="ScanAsync" />
}
else
{
    @if (TmdbSearch is null && TmdbDetails is null && Entity is null)
    {
        <div class="mt-3 @App?.GetContentClass()">
            @if (Movies is not null && Movies.Any())
            {
                <_Table @ref="ScanTable"
                        DataProvider="ScanProvider"
                        EntityName="Scan"
                        OnTmdbSearch="HandleSearchTmdbFromTable"
                        OnAddToDb="AddToDbAsync" />
            }
            @if (HasData)
            {
                <_Table @ref="DbTable"
                        DataProvider="DbProvider"
                        EntityName="@Title"
                        OnTmdbSearch="HandleSearchTmdbFromTable"
                        OnEdit="AddEdit"
                        OnPopulate="PopulateFromTmdbById" />
            }
        </div>
    }
}

<!-- SearchCard -->
@if (TmdbSearch is not null)
{
    <div class="mt-5 @App?.GetContentClass()">
        <div class="m-3 d-flex justify-content-start align-items-center" style="cursor: pointer;" @onclick="() => TmdbSearch = null">
            <button type="button" class="btn-close me-2"></button>Close Search
        </div>

        @foreach (var movie in TmdbSearch.Results)
        {
            <_SearchCard Entity="movie" />
        }
    </div>
}

<!-- DetailsCard -->
@if (TmdbDetails is not null)
{
    <div class="mt-5 @App?.GetContentClass()">
        <div class="m-3 d-flex justify-content-start align-items-center" style="cursor: pointer;" @onclick="() => TmdbDetails = null">
            <button type="button" class="btn-close me-2"></button>Close Details
        </div>
        <_DetailsCard Entity="TmdbDetails" />
    </div>
}



@code {
    [CascadingParameter] AppState? App { get; set; }

    // References to tables
    _Table? ScanTable;
    _Table? DbTable;

    List<ScanMovieModel>? Movies;
    Movie? Entity;

    const string Title = "Movies";
    bool HasData, IsScanWorking, IsAddToDbWorking, IsPopulateWorking = false;
    bool IsProcessing = true;

    string SearchTmdb = string.Empty;
    TmdbSearchList? TmdbSearch;
    TmdbDetails? TmdbDetails;

    string ScanPath => Globals.X265Path;


    protected override async Task OnInitializedAsync()
    {
        await using var db = await ContextFactory.CreateDbContextAsync();
        HasData = await db.Movies.AnyAsync();
        IsProcessing = false;
    }

    #region Scan and Db Provider
    GridItemsProvider<Movie> DbProvider => async req =>
    {
        // 1. Otvori svježi context
        await using var db = await ContextFactory.CreateDbContextAsync();
        var query = db.Movies.AsNoTracking();

        // 2. Search (čitamo iz same tablice)
        var search = DbTable?.SearchTerm;
        if (!string.IsNullOrWhiteSpace(search)) query = query.Where(x => x.Title.Contains(search));

        // 3. Sort (Dynamic LINQ ili switch)
        var sortSpecs = req.GetSortByProperties();
        if (sortSpecs.Any())
        {
            var sortBy = sortSpecs.First();
            if (sortBy.Direction == SortDirection.Ascending) query = query.OrderBy(x => EF.Property<object>(x, sortBy.PropertyName));
            else query = query.OrderByDescending(x => EF.Property<object>(x, sortBy.PropertyName));
        }
        else query = query.OrderByDescending(x => x.FileCreatedUtc);// Default sort ako nitko nije kliknuo na stupac

        // 4. Paginacija
        var total = await query.CountAsync();
        var items = await query.Skip(req.StartIndex).Take(req.Count ?? 20).ToListAsync();

        return GridItemsProviderResult.From(items, total);
    };

    GridItemsProvider<Movie> ScanProvider => async req =>
    {
        if (Movies == null) return GridItemsProviderResult.From(new List<Movie>(), 0);
        var query = Movies.Select(m => m.ToMovieEntity()).AsQueryable();

        // Search
        var search = ScanTable?.SearchTerm;
        if (!string.IsNullOrWhiteSpace(search)) query = query.Where(x => x.Title.Contains(search, StringComparison.OrdinalIgnoreCase));

        // Sort (In-Memory)
        var sortSpecs = req.GetSortByProperties();
        if (sortSpecs.Any())
        {
            var sortBy = sortSpecs.First();

            // Reflection za in-memory sort (ili tvoj switch)
            var propInfo = typeof(Movie).GetProperty(sortBy.PropertyName);
            if (propInfo != null)
            {
                query = sortBy.Direction == SortDirection.Ascending
                    ? query.OrderBy(x => propInfo.GetValue(x, null))
                    : query.OrderByDescending(x => propInfo.GetValue(x, null));
            }
        }

        var total = query.Count();
        var items = query.Skip(req.StartIndex).Take(req.Count ?? 10).ToList();

        return await Task.FromResult(GridItemsProviderResult.From(items, total));
    };
    #endregion

    async Task HandleSearchTmdb()
    {
        ArgumentNullException.ThrowIfNull(SearchTmdb);

        TmdbSearch = await TmdbService.SearchMoviesAsync(SearchTmdb);
        SearchTmdb = string.Empty;
        StateHasChanged();
    }

    async Task HandleSearchTmdbFromTable((int? tmdbId, string search, int? year) data)
    {
        if (data.tmdbId.HasValue) TmdbDetails = await TmdbService.GetMovieByIdAsync(data.tmdbId.Value);
        else TmdbSearch = await TmdbService.SearchMoviesAsync(data.search, data.year.ToString());

        SearchTmdb = string.Empty;
        StateHasChanged();
    }

    async Task AddEdit(Movie? input)
    {
        Entity = input;
        await Task.CompletedTask;
    }

    async Task ScanAsync()
    {
        IsScanWorking = true;
        // await App!.ShowToast($"Scanning for new movies...", "info");
        long scanDuration = 0;
        var sw = Stopwatch.StartNew();

        // 1. Dohvati postojeće nazive iz baze (samo stringovi, brzo)
        HashSet<string> existingFileNames;
        await using (var context = await ContextFactory.CreateDbContextAsync())
        {
            existingFileNames = await context.Movies.AsNoTracking().Select(m => m.FileName).ToHashSetAsync(StringComparer.OrdinalIgnoreCase);
        }

        // 2. Pozovi optimizirani Servis -> parsirati će SAMO one fajlove koji nisu u ovom HashSetu
        Movies = await MovieService.GetNewMoviesOnlyAsync(ScanPath, existingFileNames);

        sw.Stop();
        scanDuration = sw.ElapsedMilliseconds;

        if (Movies.Count > 0) await App!.ShowToast($"Found: {Movies.Count} new movies in {scanDuration}ms!", "success");
        else await App!.ShowToast($"No new movies found. (Check took {scanDuration}ms)", "info");

        IsScanWorking = false;
    }

    async Task AddAllToDbAsync()
    {
        IsAddToDbWorking = true;
        if (Movies is null || Movies.Count == 0)
        {
            await App!.ShowToast($"No New {Title}!", "info");
            return;
        }

        await using var context = await ContextFactory.CreateDbContextAsync();
        foreach (var newMovie in Movies)
        {
            var movie = newMovie.ToMovieEntity();
            await context.Movies.AddAsync(movie);
        }

        await context.SaveChangesAsync();
        await App!.ShowToast($"{Movies.Count} {Title} added to database!", "success");
        Movies = null;
        // await LoadEntitiesAsync();
        IsAddToDbWorking = false;
    }

    async Task AddToDbAsync(Movie input)
    {
        try
        {
            await using var context = await ContextFactory.CreateDbContextAsync();
            context.Movies.Add(input);
            await context.SaveChangesAsync();
            await App!.ShowToast($"{input.Title} added to database!", "success");

            var movieToRemove = Movies?.FirstOrDefault(m => m.FileName == input.FileName);
            if (movieToRemove is not null) Movies?.Remove(movieToRemove);

            // StateHasChanged();
            // Ako želiš baš forsirati reset query-a (nije nužno ako je samo refresh):
            // await LoadEntitiesAsync();
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Failed to add {input.Title} to database: {ex.Message}", "error");
        }
    }

    async Task PopulateFromTmdb()
    {
        IsPopulateWorking = true;
        // await App!.ShowToast($"Start Populate From Tmdb!", "info");
        await MovieService.PopulateFromTmdbAsync();
        // await LoadEntitiesAsync();
        await App!.ShowToast($"Finish and Add Details in Database!", "success");
        IsPopulateWorking = false;
    }

    async Task PopulateFromTmdbById(Guid id)
    {
        var result = await MovieService.PopulateFromTmdbByIdAsync(id);
        if (result.Success)
        {
            await App!.ShowToast($"{result.Message}", "success");
            // await LoadEntitiesAsync();
        }
        else await App!.ShowToast($"{result.Message}", "error");
    }
}
