<!-- Register Confirmation -->
<div bgcolor="#ffffff">
    <table cellpadding="0" cellspacing="0" border="0" align="center">
        <tbody>
            <tr>
                <td align="left" valign="top" bgcolor="#ffffff" class="bodywrap" style="width:640px;color:#000000;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:15px;line-height:18px">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%!important">
                        <tbody>
                            <tr>
                                <td bgcolor="#ffffff" width="5%">&nbsp;&nbsp;&nbsp;</td>
                                <td align="left" valign="top" bgcolor="#ffffff" width="90%" style="color:#4f4f4f;letter-spacing:-0.01em;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:20px;line-height:18px;padding:30px 0 10px 0">
                                    <strong> BoltaShop</strong>
                                    <br>
                                    <span align="left" valign="top" bgcolor="#ffffff" width="90%" style="color:#4f4f4f;letter-spacing:-0.01em;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:12px;line-height:18px;">
                                        ... your destination for the best shopping!
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%">
                        <tbody>
                            <tr>
                                <td align="left" valign="top" width="100%" height="100">
                                    <img src="https://picsum.photos/640/250" alt="image" border="0" width="640" height="250" style="width:640px;height:250px" class="photo CToWUd a6T" data-bit="iit" tabindex="0">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" align="center">
        <tbody>
            <tr>
                <td align="left" valign="top" bgcolor="#ffffff" class="bodywrap" style="width:640px;color:#000000;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:15px;line-height:18px">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%!important">
                        <tbody>
                            <tr>
                                <td bgcolor="#ffffff" width="5%">&nbsp;&nbsp;&nbsp;</td>
                                <td align="left" valign="top" bgcolor="#ffffff" width="90%" style="color:#4f4f4f;letter-spacing:-0.01em;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:12px;line-height:18px;padding:15px 0 22px">
                                    Amazing deals, updates, interesting news right in your inbox.
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" width="5%">&nbsp;&nbsp;&nbsp;</td>
                                <td align="left" valign="top" bgcolor="#ffffff" width="90%" style="color:#4f4f4f;letter-spacing:-0.01em;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:12px;line-height:18px;padding:0px 0 20px">
                                    <strong> Welcome to BoltaShop</strong>
                                    <br><br>
                                    Please click the button below to complete your registration. Once you have completed the process, you can start using our service.
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" width="5%">&nbsp;&nbsp;&nbsp;</td>
                                <td align="left" valign="top" bgcolor="#ffffff" width="90%" style="color:#4f4f4f;letter-spacing:-0.01em;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:12px;line-height:18px;padding:0px 0 0px">
                                    <table cellpadding="0" cellspacing="0" border="0" align="left">
                                        <tbody>
                                            <tr>
                                                <td style="background:#8661c5;letter-spacing:-0.01em;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:14px;font-weight:100;line-height:20px;padding:5px 0 6px;text-align:center">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>
                                                <td style="background:#8661c5;letter-spacing:-0.01em;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:12px;font-weight:400;line-height:18px;padding:5px 0 6px;text-align:center">
                                                    <a href="@ConfirmationUrl" title="Complete your registration !" style="color:#fefefe;text-decoration:none" target="_blank" data-saferedirecturl="@ConfirmationUrl">Complete your registration !</a>
                                                </td>
                                                <td style="background:#8661c5;letter-spacing:-0.01em;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:14px;font-weight:100;line-height:20px;padding:5px 0 6px;text-align:center">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" align="center">
        <tbody>
            <tr>
                <td align="left" valign="top" bgcolor="#ffffff" class="bodywrap" style="width: 640px; color: #ffffff; font-family: 'Segoe UI',SegoeUI,Arial,sans-serif; font-size: 15px; line-height: 18px; padding: 50px 0 ">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%!important">
                        <tbody>
                            <tr>
                                <td bgcolor="#f2f2f2" width="5%">
                                    &nbsp;&nbsp;&nbsp;
                                </td>
                                <td align="left" valign="top" bgcolor="#f2f2f2" width="90%" style="color:#1a1a1a;letter-spacing:-0.01em;font-family:'Segoe UI',SegoeUI,Arial,sans-serif;font-size:12px;line-height:18px;padding:30px 0">
                                    <br>
                                    If you have any questions simply reply to this email and we would be more than happy to reply. :)
                                    <br>
                                    <br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>


@code {

    [Parameter] public string? ConfirmationUrl { get; set; } = string.Empty;

}
