.card {
    position: relative;
    transition: transform 0.2s ease-in-out;
    max-width: 100%;
    margin: 0;
    padding: 0.6rem;
    border: none;
    overflow: hidden;
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.03);
        z-index: 99;
    }

    .card img {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
        width: 100%;
        height: auto;
    }

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card-title-link {
    text-decoration: none;
    color: inherit;
}

    .card-title-link:hover h4 {
        text-decoration: underline;
        color: #fff;
    }

.resolution-badge {
    padding: 0.5em 0.75em;
    border-radius: 0.375rem;
    font-weight: 500;
}

.resolution-720p {
    background-color: #fbbf24; /* žuta */
    color: #000;
}

.resolution-1080p {
    background-color: #3b82f6; /* plava */
    color: #fff;
}

.resolution-2160p {
    background-color: #ef4444; /* crvena */
    color: #fff;
}
