<!-- Movie Card Item Component -->

<div class="card" style="width: 18rem;">
    <img src="http://image.tmdb.org/t/p/w500/lnWkyG3LLgbbrIEeyl5mK5VRFe4.jpg" class="card-img" alt="...">

    <h4><span class="badge bg-white text-black position-absolute top-0 start-0 m-2">@Item.Year</span></h4>
    @* <span class="badge bg-danger position-absolute top-0 start-0 m-2">TopLeft</span> *@
    <span class="badge bg-primary position-absolute top-0 end-0 m-2">@Item.ResolutionType</span>

    <h5 class="position-absolute bottom-0 start-0 m-2 text-truncate">@Item.Title</h5>
    
    


    
</div>


@code
{
    [CascadingParameter] AppState? App { get; set; }

    [Parameter] public Entities.Movie? Item { get; set; }

    
}