.card {
    position: relative;
    transition: transform 0.2s ease-in-out;
    max-width: 100%;
    margin: 0;
    padding: 0.6rem;
    border: none;
    overflow: hidden;
    /*cursor: pointer;*/
}

    .card:hover {
        transform: scale(1.03);
        z-index: 99;
    }


.card-image-container {
    position: relative;
    cursor: pointer;
}

.card img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
    display: block;
}

.card-overlay {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    right: 0.6rem;
    bottom: 0.6rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; /* Onemogući klikove na overlay */
}

.card:hover .card-overlay {
    opacity: 1;
}

.title-link {
    color: var(--cf-theme-core);
    text-decoration: none;
    pointer-events: auto;
}



/*.card-title-link {
    pointer-events: auto;
    text-decoration: none;
    color: inherit;
}*/

/*.card-title-link:hover h4 {
        text-decoration: underline;
        color: #fff;
    }*/

.resolution-badge {
    padding: 0.5em 0.75em;
    border-radius: 0.375rem;
    font-weight: 500;
}

.resolution-720p {
    background-color: #fbbf24; /* žuta */
    color: #000;
}

.resolution-1080p {
    background-color: #3b82f6; /* plava */
    color: #fff;
}

.resolution-2160p {
    background-color: #ef4444; /* crvena */
    color: #fff;
}
