@page "/movies"
@layout FrontLayout

@inject IMovieService Service
@inject ITmdbService TmdbService

<title>@Title</title>

@if (IsProcessing || Entities is null)
{
    <_Loading />
}
else
{
    <div class="mt-5 @App?.GetContentClass()">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
            @foreach (var movie in Entities.Take(18))
            {
                <_MovieCard Item="movie" />
            }
        </div>
    </div>
}


@code {
    [CascadingParameter] AppState? App { get; set; }

    List<Entities.Movie> Entities = new();

    const string Title = "Movies";
    bool IsProcessing { get; set; } = true;



    protected override async Task OnInitializedAsync()
    {
        Entities = await Service.GetAllMoviesAsync();

        IsProcessing = false;
        StateHasChanged();
    }
}
