#movie-details {
    margin-top: -40px;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: var(--background);
    background-repeat: no-repeat;
}

#movie-poster {
    max-width: 100%;
    border: 1px solid var(--cf-theme-800);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}