@page "/admin/chronicles"

@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject ChronicleService Service

<title>@Title</title>

<_PageHeader Title="@Title" AddButtonText="New" OnAddButtonClick="() => Entity = new Chronicle{Content = string.Empty}" />

@if (Chronicles is null)
{
    <_Loading />
}
else
{
    if (Entity is not null)
    {
        <_Form Entity="Entity" OnBack="() => Entity = null" />
    }
    else
    {
        <div class="mt-3 @App?.GetContentClass()">
            <_Table Chronicles="Today" Title="Today" OnEdit="AddEdit" OnDelete="LoadAsync" />
            <_Table Chronicles="Chronicles" Title="@Title" OnEdit="AddEdit" OnDelete="LoadAsync" />
        </div>
    }
}


@code {
    [CascadingParameter] AppState? App { get; set; }

    List<Chronicle>? Chronicles;
    List<Chronicle>? Today;
    Chronicle? Entity;
    const string Title = "Chronicle";



    protected override async Task OnInitializedAsync() => await LoadAsync();

    async Task LoadAsync()
    {
        var croatiaZone = TimeZoneInfo.FindSystemTimeZoneById("Central European Standard Time");
        var nowInCroatia = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, croatiaZone);

        await using var db = await contextFactory.CreateDbContextAsync();

        Chronicles = await db.Chronicles.AsNoTracking().ToListAsync();

        Today = Chronicles.Where(c => c.Date.HasValue && c.Date.Value.Month == nowInCroatia.Month && c.Date.Value.Day == nowInCroatia.Day).ToList();
    }

    async Task AddEdit(Chronicle? input)
    {
        Entity = input;
        await Task.CompletedTask;
    }
}