/*-----------------------
  START AIDA CSS Default
------------------------*/
:root {
    --kw-title-font: 'Bebas Neue', sans-serif;
    --kw-body-font: 'Montserrat', sans-serif;
    --kw-body-font-size: 1rem;
    --kw-body-font-size-sm: 0.8rem;
    --kw-body-bg-light: #fff;
    --kw-body-bg-dark: #212529;
    --kw-dark-color: #212121;
    --kw-light-color: #deeefb;
    --kw-z-navbar: 1100;
    --kw-z-toast: 2000;
}

html, body {
    font-family: var(--kw-body-font);
    font-size: var(--kw-body-font-size);
    height: 100%;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--kw-title-font);
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--kw-title-font);
}

p-sm, .p-sm {
    font-size: var(--kw-body-font-size-sm) !important;
}

#app {
    height: 100%;
}
/*-----------------------
  END AIDA CSS Default
------------------------*/



/*#region START - Blazor Default CSS*/

/*a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.05rem white, 0 0 0 0.1rem #258cfb;
}

/*.content {
    padding-top: 1.1rem;
}*/

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
/* #endregion END - Blazor Default CSS */


/*---------------------
  START
-----------------------*/
.flex-center-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100vh;
}

.flex-evenly-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}



/*#region START Background-Transparent*/
.bg-transparent {
    background-color: transparent !important;
}

.bg-transparent10 {
    background-color: rgba(var(--bs-black-rgb), 0.1);
}

.bg-transparent20 {
    background-color: rgba(var(--bs-black-rgb), 0.2);
}

.bg-transparent30 {
    background-color: rgba(var(--bs-black-rgb), 0.3);
}

.bg-transparent40 {
    background-color: rgba(var(--bs-black-rgb), 0.4);
}

.bg-transparent50 {
    background-color: rgba(var(--bs-black-rgb), 0.5);
}

.bg-transparent60 {
    background-color: rgba(var(--bs-black-rgb), 0.6);
}
/*#endregion END Background-Transparent*/

/*#region START Icons*/
/*---------------------
  Icon Success for Modal
-----------------------*/
.icon-success {
    color: green;
    animation: icon-bounce 2s ease infinite;
    display: inline-block;
    will-change: transform;
}

@keyframes icon-bounce {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}


/*---------------------
  START Svg Icons for Modal
-----------------------*/
.success-checkmark {
    width: 10rem;
    height: 10rem;
    stroke-width: 4;
    stroke: green;
    stroke-miterlimit: 10;
    fill: none;
    stroke-linecap: round;
    animation: icon-scale 0.5s ease-out forwards;
}

.checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    animation: circle-draw 0.6s ease-out forwards;
}

.checkmark-check {
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: checkmark-draw 0.3s 0.6s ease-out forwards;
}

.error-xmark {
    width: 10rem;
    height: 10rem;
    stroke-width: 4;
    stroke: red;
    stroke-miterlimit: 10;
    fill: none;
    stroke-linecap: round;
    animation: icon-scale 0.5s ease-out forwards;
}

.xmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    animation: circle-draw 0.6s ease-out forwards;
}

.xmark-check {
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: xmark-draw 0.3s 0.6s ease-out forwards;
}

@keyframes icon-scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes circle-draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes checkmark-draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes xmark-draw {
    100% {
        stroke-dashoffset: 0;
    }
}
/*---------------------
  END Svg Icons for Modal
-----------------------*/
/*#endregion END Icons*/

/*#region START Table QuickGrid*/
/*---------------------
  START Table QuickGrid
-----------------------*/
.quickgrid-wrapper {
    margin-top: 1.5rem;
    border-radius: 4px;
    border: 0.3px solid rgba(var(--bs-light-rgb), 0.2);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.quickgrid-pagination {
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    color: #6c757d;
}

.table thead th {
    /*background-color: var(--bg-table-head) !important;*/
    background-color: rgba(var(--bs-black-rgb), 0.2) !important;
}

.table tbody td {
    background-color: rgba(var(--bs-black-rgb), 0.05) !important;
}

/*---------------------
  Fix .NET9 Sakrij redove u QuickGrid tablici, gdje su sve æelije prazne
-----------------------*/
.quickgrid tbody tr:not(:has(td:not(:empty))) {
    display: none;
}

/*---------------------
  END Table QuickGrid
-----------------------*/
/*#endregion END Table QuickGrid*/

/*#region START Margin*/
/*---------------------
  START Margin
-----------------------*/
.mt-25 {
    margin-top: 25px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-min10 {
    margin-top: -10px;
}

.mt-min20 {
    margin-top: -20px;
}

.mt-min25 {
    margin-top: -25px;
}

.mt-min30 {
    margin-top: -30px;
}

.mt-min40 {
    margin-top: -40px;
}

.mt-min45 {
    margin-top: -45px;
}

.mt-min50 {
    margin-top: -50px;
}

.mt-min55 {
    margin-top: -53px;
}

.mt-min60 {
    margin-top: -60px;
}

.mt-min65 {
    margin-top: -65px;
}

.mt-min70 {
    margin-top: -70px;
}

.mt-min90 {
    margin-top: -90px;
}


.mb-min20 {
    margin-bottom: -20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mb-200 {
    margin-bottom: 200px;
}
/*#endregion END Margin*/
