@page "/auth"

@attribute [Authorize]

<PageTitle>Auth</PageTitle>


<div class="mt-5 @App?.GetContentClass()">
    <h1>You are authenticated</h1>

    <AuthorizeView>
        Hello @context.User.Identity?.Name!
    </AuthorizeView>
</div>



@code {
    [CascadingParameter] AppState? App { get; set; }
}