@page "/admin/users"
@attribute [Authorize(Roles = "Admin")]

@inject ApplicationDbContext Context

<PageTitle>@Title</PageTitle>

<_PageHeader Title="@Title" AddButtonText="Add User" OnAddButtonClick="() => AddEdit(null)" />

@if (Entities is null)
{
    <_Loading />
}
else
{
    <div class="@App?.GetContentClass()">
        @if (IsEditing)
        {
            <_Form Input="Input" OnBack="() => IsEditing = false"/>
        }
        @if (!IsEditing)
        {
            <_Table Entities="Entities" EntityName="EntityName" OnEdit="AddEdit" OnLoadEntities="LoadEntities" />
        }
    </div>
}


@code {
    [CascadingParameter] AppState? App { get; set; }

    IQueryable<UserDto>? Entities;
    UserDto? Input;

    string Title = "Users";
    string EntityName = "User";
    bool IsEditing = false;


    #region ---> INITIALIZATION
    protected override async Task OnInitializedAsync() => await LoadEntities();

    async Task LoadEntities()
    {
        Entities = Context.Users.Select(u => new UserDto
        {
            Id = u.Id,
            AvatarUrl = u.AvatarUrl,
            FirstName = u.FirstName,
            LastName = u.LastName,
            CompanyName = u.CompanyName,
            DateOfBirth = u.DateOfBirth,
            Email = u.Email,
            EmailConfirmed = u.EmailConfirmed,
            PhoneNumber = u.PhoneNumber,
            PhoneNumberConfirmed = u.PhoneNumberConfirmed,
            Country = u.Country,
            Zip = u.Zip,
            City = u.City,
            Street = u.Street,
            Latitude = u.Latitude,
            Longitude = u.Longitude,
            PlaceId = u.PlaceId,
            IsActive = u.IsActive,
            IsDeleted = u.IsDeleted,
            CreatedId = u.CreatedId,
            CreatedUtc = u.CreatedUtc,
            LastModifiedId = u.LastModifiedId,
            LastModifiedUtc = u.LastModifiedUtc,
            Roles = Context.UserRoles
                .Where(ur => ur.UserId == u.Id)
                .Join(Context.Roles, ur => ur.RoleId, r => r.Id, (ur, r) => new RoleDto
                {
                    Id = r.Id,
                    Name = r.Name ?? string.Empty
                }).ToList()
        })
        .OrderBy(u => u.LastName).AsQueryable();

        if (Entities is null && !Entities!.Any()) return;

        await Task.CompletedTask;
    }
    #endregion

    async Task AddEdit(UserDto? input)
    {
        Input = input;
        IsEditing = true;
        await Task.CompletedTask;
    }
}