<!-- Note Card Item Component -->

<div class="my-3 p-3 card" style="background-color: rgba(var(--bs-black-rgb), 0.1); border-color: @Item.Color; height: 100%;">
    <div class="d-flex justify-content-between align-item-center">
        <a class="text-decoration-none" href="note/@Item.Id"><h5 class="text-white">@Item.Title</h5></a>
        <div>
            <a type="button" data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Menu"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                @* <li><a class="dropdown-item text-end" href="">Move</a></li>
                <li><hr class="dropdown-divider"></li> *@
                <li><div class="dropdown-item text-end" @onclick="() => OnDeleted.InvokeAsync(Item)">Delete</div></li>
            </ul>
        </div>
    </div>
    <p class="card-text">@(Item.Content?.Substring(0, Math.Min(50, Item.Content.Length)) + "...")</p>
</div>


@code
{
    [Parameter] public NoteDto Item { get; set; } = new();

    [Parameter] public EventCallback<NoteDto> OnDeleted { get; set; } = new();
}