<!-- Loading Component -->
<div class="center">
    <div class="loader">
        <span>@Message</span>
    </div>
</div>

<div class="mt-5 text-center">
    <h4>@Title</h4>
    <p>@Subtitle</p>

    @if (!string.IsNullOrEmpty(ButtonText) && OnClick.HasDelegate)
    {
        <button class="btn btn-primary rounded-pill" @onclick="OnClick">@ButtonText</button>
    }
</div>


@code
{
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Subtitle { get; set; }
    [Parameter] public string? ButtonText { get; set; }

    [Parameter] public EventCallback OnClick { get; set; }







    string Message { get; set; } = "loading...";

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        Message = "not found...";
        StateHasChanged();
    }
}