/*.toast.success {
    background-color: #d1e7dd;
    color: #0f5132;
}

.toast.error {
    background-color: #f8d7da;
    color: #721c24;
}

.toast.warning {
    background-color: #fff3cd;
    color: #856404;
}*/